*{
  font-family: url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  ;
}
.link:hover {
    color: pink; 
    text-decoration: none;
    transform: scale(1.05) 
} 
/* Navbar.css */
/* Add this CSS to your global stylesheet */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.link {
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    *{
      max-width: 100%;
    }
    .link {
      display: block;
      text-align: center;
      font-size: 1vh;
      height: 4px;
      padding: 0;
    width: 100%;
    margin: 1vw;
    }
  
    .menu-button {
      display: block;
      text-align: center;
      padding: 10px;
      width: 100%;
    }
  }
  
  @media (min-width: 769px) {
    .menu-button {
      display: none;
    }
  }
  