
.link:hover {
    color: pink; 
    text-decoration: none;
    transform: scale(1.05) 
} 
/* Navbar.css */

.link {
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .link {
      display: block;
      text-align: center;
      padding: 10px;
      width: 100%;
    }
  
    .menu-button {
      display: block;
      text-align: center;
      padding: 10px;
      width: 100%;
    }
  }
  
  @media (min-width: 769px) {
    .menu-button {
      display: none;
    }
  }
  