.homeContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* Add more general styling for your home container */
  }
  @media (max-width:1036){
    .box{
      min-height: 100vh;
    }
    .stack{
      min-height: 100vh;
    }
  }
  .brandName {
    color: #3498db; /* Your brand color */
  }