.link:hover {
  color: pink;
  text-decoration: none;
  /* transform: scale(1.05) */
}
.sticky {
  position: fixed;
  opacity: 0.7;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Add any additional styles for the sticky navbar */
}
MenuButton:hover{
  text-decoration: none;
}
.cart{
  color: white;
  /* margin-right: 2vw; */
}
.link {
  text-decoration: none;
}
.welcome{
  color: White;
  margin-right: 0;
}
.logo {
  max-height: 4.8vw;
  max-width: 4vw;
  margin-right: 1vw;
  margin-left: 2vw;
}
.flx{
  padding: 0px 8px;
}
.log{
  display: flex;
}
.space2{
  max-width: 10vh;
}
.search{
  margin-left: 0;
  display: flex;
  flex-direction: row;
  margin-right: 3vw;
  width:50vw;
}
.list-icon {
  display: none;
  width: 0; /* Initially hide the ListIcon */
}
@media (max-width: 1036px){
  .space2{
    display: none;
  }
  .search{
    margin-right: 3vw;
    width:30vw;
  }
}
@media (max-width: 870px){
  .space2{
    display: none;
  }
  .search{
    margin-right: 3vw;
    width:20vw;
  }
}
@media (max-width: 769px) {
  .link {
    display: block;
    text-align: center;
    font-size: 1.5vh;
    height: 4px;
    padding: 0;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
    
  }
  .space2{
    width: 50vw;
  }
  .cart{
    width: 3vh;
    height: 3vh;
    margin-left: 4vw;
    margin-right: 2vw;
    /* margin-right: 1vw; */
  }
  .logo {
    min-height: 5vh;
    min-width: 5vh;
    margin-right: 1vw;
  }
  .flx{
    padding-left: 0;
  }
  .space {
    width: 40px;
  }
  .log{
    margin-left: 0%;
  }
  .welcome{
    margin-left: 4vw;
    font-size: 16px;
  }
  .menu{
    margin: 0 0;
  }
  .menu-button {
    display: block;
    font-size: 1.5vh;
    height: 3px;
    padding: 0;
    width: 100%;
    margin: 0;
  }
  .search{
    display: none;
  }
  .searchIcon{
    display: none;
  }
}
.menu{
  color:black;
  background-color: transparent;
}
.menu:hover{
  text-decoration: none;
  color: black;
  background-color: aquamarine;
}
.menu-button{
  text-decoration: none;
}


@media screen and (width: 768px) {
  .search{
    display: flex;
    margin-right: 1px;
    width: 180px;
  }
  .searchIcon{
    width: 100px;
    margin-right: 5px;
  }
}
/* Navbar.css */